<!doctype html>
<html lang="en" ng-app="aabrham">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="loginDirective.js"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Insert title here!</title>
</head>
<body ng-controller="LoginController" class="login">
<div class="header">
    <img id="logo-image-header" src="/assets/logo/TT_50.png">
    <p id="medium-text">Log in</p>
</div>
<div class="content">
    <div id="central-box">
        <h1>Think Twice.</h1>
        <h2>Just what you really need</h2>
        <div ng-show="failedLogin">
            {{loginError}}
            <a ng-show="showSignup" href="/signup">
                Signup
            </a>
        </div>
        <form method="post">
            <input type="text" placeholder="Username" name="username" ng-model="username">
            <input type="password" placeholder="Password" name="password" ng-model="password">
            <button type="submit" ng-click="login(username, password)">Login</button>
        </form>
    </div>
    <div id="central-box-background">
    </div>
    <div id="go-to-signup">
        <p>You don't have an account yet? <a href="/signup">Signup</a></p>
    </div>
</div>
</body>
</html>