<!doctype html>
<html lang="eng">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="loginDirective.js"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Insert title here!</title>
</head>
<body>
<form method="post">
    <div class="container">
        <label>Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </div>

    <a href="/signup">Signup</a>
    <a href="/">Go back</a>

</form></body>
</html>