<!doctype html>
<html lang="en" ng-app="aabrham">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="signupDirective.js"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Signup</title>
</head>
<body ng-controller="SignupController" class="signup">
<div id="header">
    <img id="logo-image-header" src="https://via.placeholder.com/100/FF0000/FFFFFF?Text=Down.com">
    <p id="medium-text">Get Started</p>
</div>
<div id="content">
    <div id="central-box">
        <h1>Think Twice.</h1>
        <h2>Just what you really need</h2>
        <div ng-show="failedSignup" id="error-box">
            <p id="error-text">{{signupError}}</p>
        </div>
        <form method="post">
            <input type="text" placeholder="Username" name="username" ng-model="username">
            <input type="password" placeholder="Password" name="password" ng-model="password">
            <button type="submit" ng-click="signup(username, password)">Create Account</button>
        </form>
    </div>
    <div id="central-box-background">
    </div>
    <div id="go-to-login">
        <p>Already have an account? <a href="/Login">Login</a></p>
        <p id="small-text">By creating an account, you agree to the Terms of Service and Privacy Policy</p>
    </div>

</div>
</body>
</html>