@font-face {
    font-family: filson pro;
    font-style: normal;
    font-weight: 400;
    src: local('Filson Pro'), url(https://fonts.cdnfonts.com/s/57464/FilsonProRegular.woff) format('woff')
}

@font-face {
    font-family: filson pro;
    font-style: normal;
    font-weight: 700;
    src: local('Filson Pro'), url(https://fonts.cdnfonts.com/s/57464/FilsonProBold.woff) format('woff')
}

body {
    background: #FFFFFF;
    font-family: filson pro, sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #000000;
}

.header {
    display: grid;
    height: 5vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1.5vw;
}

.header #logo-image-header {
    grid-column: 1;
}

.header #medium-text {
    grid-column: 3;
    justify-self: right;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: auto;
    height: 85vh;
}

.content #central-box {
    grid-column: 2;
    grid-row: 2;
    height: 40vh;
    max-height: 500px;
    min-height: 400px;
    aspect-ratio: 10/8;
    background-color: #22EE5B;
    justify-self: center;

}

.content #central-box-background {
    grid-column: 2;
    grid-row: 2;
    height: 40vh;
    max-height: 500px;
    min-height: 400px;
    aspect-ratio: 10/8;
    background-color: #000;
    rotate: 10deg;
    z-index: -1;
    justify-self: center;
}

.signup #go-to-login {
    grid-column: 2;
    grid-row: 3;
}

.signup #go-to-login  p{
    margin-bottom: 0.75vh;
}

#central-box h1 {
    padding-left: 1.5vw;
    font-size: 4.5em;
    margin-top: 2vh;
    margin-bottom: 0;
    font-weight: 550;
}

#central-box h2 {
    padding-left: 1.5vw;
    font-size: 1.5em;
    margin-top: 0;
    font-weight: lighter;
}

#central-box #error-box {
    display: grid;
    width: 90%;
    margin: auto;
}

#central-box #error-message {
    justify-self: center;
}

#central-box form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 50%;
    width: 80%;
    gap: 12%;
    margin: auto;
    padding: 5%;
}

#central-box input {
    border: 0;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px
}

#central-box button {
    background-color: #000000;
    color: #ffffff;
    width: 60%;
    height: 60%;
    justify-self: center;
    border: 0;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
}

#small-text {
    font-size: 0.75em;
    margin: 0;
}

#error-text {
    color: red;
    margin: 0;
}

#medium-text {
    font-size: 2em;
    font-weight: bold;
}