<!doctype html>
<html lang="eng">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="indexDirective.js"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Think Twice</title>
</head>
<body>
<div class="header">
    <img id="logo-image-header" src="/assets/logo/TT_50.png">
    <input id="Button1" value="Log in">
</div>
<div class="top">
    <div id="homepage-rectangle1">
    </div>
    <h1 id="homepage-main-title"> Become more <span style="color:#22EE5B"> conscious</span> of what you buy </h1>
    <div id="homepage-rectangle2">
    </div>
</div>
<div class="top2">
    <h2 id="homepage-title-description"> A tool designed to stop you from wasting money on things that won't make you happy </h2>
    <input id="button2" value="Get Started" on click="signup">
    <h3 id="homepage-paragraph"> Create your account  in seconds without any personal data </h3>
    <!--on click-->
</div>

<a href="login">login</a>
<a href="signup">signup</a>
</body>
</html>