on: push

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Change permission of docker entrypoint
        run: chmod +x ./docker_entrypoint.sh

      - name: Build the stack
        run: docker-compose up -d

      - name: print compose up
        run: docker compose ps --all

      - name: Test
        run: docker exec aabrham bash -c "cd build/test && ./aabrham_test"
